
p, h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
:root {
  --primery-background-color:#FFFFFF;
  --secondary-background-color:#E5E5E5;
  --hero-footer-background-color:#2F303A;
  --main-title-color: #FFFFFF;
  --secondary-title-color:  #212121;
  --main-text-color:  #757575;
  --accent-color:#2196F3;
}
body {
  font-family: "Roboto", sans-serif;
}

.header {
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
display: flex;

border: 1px solid #ECECEC;
} 
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-logo {
  font-family: Raleway;
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-left: 215px;
margin-right: 93px;
}
.main-navigation {
  width: 294px;
height: 16px;

}
.header-list {
  display: flex;
  justify-content: space-between;
}
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--secondary-title-color);
}
.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}
.header-right {
  margin-left: auto;
    display: flex;
  align-items: center;
}
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-text-color) ;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--main-text-color) ;
  }
  
.hero {
  background-color: var(--hero-footer-background-color);
  width: 1600px;
  height: 600px;
  display: flex;
}
.hero-container {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
}
.hero-title {
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--main-title-color);
width: 696px;
height: 120px;
}
.hero-button {
  font-family: Roboto;
font-style: normal;
  background-color: var(--accent-color);
  font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: var(--main-title-color);
width: 200px;
height: 50px;
}
.features {
  background-color: var(--secondary-background-color);
}
.features-title {
  font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--secondary-title-color);
}
.features-text {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--main-text-color);
}
.images {
  background-color: var(--secondary-background-color);
}
.images-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--secondary-title-color);
}
.team-section {
  background-color: #F5F4FA;
}
.team-title {
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
}
.team-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
}
.team-position {
  font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-text-color);
}
.contacts {
  background-color: var(--hero-footer-background-color);
}
.contacts-address {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--main-title-color);
}
.contacts-link {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.contacts-link:hover,
.contacts-link:focus {
color: var(--accent-color);
}
.contacts-logo {
  font-family: Raleway;
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--main-title-color);
}
span {
  color: var(--accent-color);
}

.portfolio-hero-button:focus,
.portfolio-hero-button:hover {
  color: var(--main-title-color);
  background-color: var(--accent-color);
}
.portfolio-hero-button {
  font-family: Roboto;
  font-style: normal; 
  font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
color: var(--secondary-title-color);
}
.our-products-title {
  font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--secondary-title-color);
}
.our-products-text {
  font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: var(--main-text-color);

}
 